@import '../../../styles/settings.scss';

.root {
  text-transform: uppercase;

  .toolbar {
    position: relative;
    padding: $base-size * 2;
    justify-content: space-between;
    flex-wrap: wrap;

    .logo:hover {
      background: inherit;
    }

    .userStatus {
      position: absolute;
      right: 10%;
      min-width: 200px;
    }

    .button {
      text-decoration: none;
      border: 1px solid $white;

      &:hover {
        background: $white;
        color: $primary;
        transition: $transition;
      }
    }

    .postsButton {
      min-width: 400px;
    }

    .loginButton {
      min-width: 150px;
    }
  }
}
